.item-details {
  display: flex;
  flex-direction: row;
  /* margin-top: 16px; */
  padding: 16px;
}
.item-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: 4px;
}

.item-details .list-group-item .term {
  margin-right: 8px;
}
